<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h5 class="d-inline-flex bg-light px-3 py-1 font-weight-bold mt-5">配送先登録/⼀覧</h5>
    </div>
      <%= form_with model:@shipping_address, url: shippings_path, method: :post, class: "form-horizontal" do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>郵便番号(ハイフンなし)</th>
               <td><%= f.text_field :zip_code %></td>
           </tr>
           <tr>
            <th>住所</th>
               <td><%= f.text_field :address %></td>
           </tr>
           <tr>
            <th>宛名</th>
               <td><%= f.text_field :name %></td>
               <td><%= f.submit '新規登録', class:"btn btn-sm btn-success" %></td>
           </tr>
        </tbody>
      </table>
      <% end %>
      <div class="col-md-9">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>郵便番号</th>
              <th>住所</th>
              <th>宛名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @shipping_addresses.each do |address| %>
            <tr>
              <td><%= address.postcode %></td>
              <td><%= address.destination %></td>
              <td><%= address.delivery_name %></td>
              <td><%= link_to '編集する', edit_shipping_path(shipping_address.id), class: 'btn btn-sm btn-success' %>
                  <%= link_to '削除する', shipping_path(shipping_address.id), method: :delete, class: 'btn btn-sm btn-danger' %>
              </td>
            </tr>
            <% end %>
          </tbody>
    </table>
    </div>
  </div>
</div>