<div class="row">
<%= render 'sidebar', genres: @genres %>
  <h2 style="margin: 50px 0;">商品一覧</h2>
	<div class="col-xs-9 col-xs-offset-1">
		<div class="product-card-content">


		<% @products.each do |product| %>
		<div class="col-xs-3" style="padding-right: 0px; padding-left: 0px; margin: 10px 0;">
			<%= link_to product_path(product.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
			<%= image_tag product.get_image, size: "100×100" %><br>
				<%= product.name %>
				¥<%= product.add_tax_price.to_s(:delimited, delimiter: ',') %>
			<% end %>
		</div>
		<% end %>
		</div>
	</div>
</div>